* {
  margin: 0;
  padding: 0;
}
.container {
  line-height: 1.5;
  width: 1000px;
  margin: auto;
  background-color: #1a1b1b;
}
body {
  background-color: #1a1b1b;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: #cfc8c9;
  margin-top: 30px;
}
.line {
  width: 1000px;
  border: 1px solid #cfc8c9;
  margin-top: 10px;
}
.pict {
  margin-top: 50px;
}

.next {
  font-family: "Inter", sans-serif;
  margin-top: -400px;
  margin-left: 650px;
  width: 120px;
  height: 30px;
  background-color: #1a1b1b;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  text-align: center;
  border: 2px solid #8f8f8f;
}

.next:hover {
  background-color: #7e7e7e; /* Warna latar belakang saat hover */
  transform: scale(1.05); /* Sedikit memperbesar tombol saat hover */
  border: 2px solid #ffffff;
}
.next a {
  text-decoration: none;
  font-family: "poppins", sans-serif;
  font-size: 14px;
  color: white;
}
.annaouncement {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  margin-left: 650px;
  width: 350px;
  height: 120px;
  background-color: #2b2b2b;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  text-align: left;
}
.recomendation {
  font-family: "Poppins", sans-serif;
  color: #ffff;
  font-size: 16px;
  margin-left: 650px;
  margin-top: 30px;
}
.list {
  font-family: "inter", sans-serif;
  font-size: 18;
  margin-left: 650px;
  margin-top: 20px;
  line-height: 2;
}
.list2 {
  font-family: "inter", sans-serif;
  font-size: 18;
  margin-left: 800px;
  margin-top: -130px;
  line-height: 2;
}
.isi {
  margin-top: 70px;
  font-family: "Poppins", sans-serif;
  color: #cfc8c9;
  margin-bottom: 50px;
}
